body {
	padding: 0;
    background-image: linear-gradient(to bottom, #130F40, #000000);
    
}
h1{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #930cb4f3;
    font-family: "Source Sans Pro";
    font-size: 6em;
    font-weight: 820;
    -webkit-user-select: none;
    user-select: none;
}
h2{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00fa92;
    font-family: cursive;
    font-size: 8em;
    font-weight: 820;
    -webkit-user-select: none;
    user-select: none;
}
h3{
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #930cb4f3;
    font-family: "Source Sans Pro";
    font-size: 6em;
    font-weight: 820;
    -webkit-user-select: none;
    user-select: none;
}
h4{
    position: absolute;
    top: 90%;
    right: 5%;
    transform: translate(-50%, -50%);
    color: #ffee06;
    font-family: "Source Sans Pro";
    font-size: 1em;
    font-weight: 350;
    -webkit-user-select: none;
    user-select: none;
}
